# Node
node_modules/
dist/
build/
.env
*.log

# MongoDB Data
mongo_data/
mongo_data_fresh/
journal/
*.lock
storage.bson

# Binaries/Large Files
*.exe
*.pdb
*.dll
mongodb8/

# OS files
.DS_Store
Thumbs.db
